<!DOCTYPE html>
<html style="height:100%; background:#030712">
  <head>
    <title><%= content_for(:title) || 'Football' %></title>
    <%= render 'layouts/head' %>
  </head>

  <body style="height:100%">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>

    <main class="main-content">
      <%= yield %>
    </main>
  </body>
</html>
