<!DOCTYPE html>
<html class="h-full bg-gray-950">
  <head>
    <title><%= content_for(:title) || 'Football' %></title>
    <%= render 'layouts/head' %>
  </head>

  <body class="h-full bg-gray-950 text-gray-100">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>

    <main class="max-w-7xl mx-auto px-4 py-6">
      <%= yield %>
    </main>
  </body>
</html>
